@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeue-Bold.woff') format('woff'),
    url('HelveticaNeue-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeue';
    src: url(../fonts/ 'HelveticaNeueBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
html {
    box-sizing: border-box;
    font-size: 100%;
}
body {
    min-height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Source Code Pro', Menlo, Monaco, Consolas, "Courier New", monospace;
    min-width: 320px;
    font-size: 16px;
    line-height: 1;
    letter-spacing: -0.1px;
    font-weight: normal;
    color: #fff;
    background-color: #002047;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
#wrapper:before {
    content: '';
    background-image: url("../img/bg-img.png");
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
}

#wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.pa-container {
    width: 100%;
    max-width: 918px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 67px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.caption {
    padding: 0 0 57px;
    text-align: left;
    line-height: 1.2;
    letter-spacing: 0;
}
.caption .subtitle {
    display: block;
    font-weight: 400;
    font-size: 35px;
    text-transform: uppercase;
}
p {
    margin: 0 0 20px;
}
img {
    max-width: 100%;
    display: inline-block;
    vertical-align: top;
    height: auto;
    margin: 0 0 36px;
}

h1 {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    margin: 0;
    color: #00d2c7;
}
h2 {
    text-transform: uppercase;
    text-align: left;
    font-size: 30px;
    line-height: 1.2;
    margin: 0 0 35px;
    font-weight: 700;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #00d2c7;
}

.text-primary {
    color: #00d2c7;
}

.text-left {
    text-align: left;
}

.row {
    padding: 30px 0;
}

.row h2 {
    margin: 0 0 5px;
}

.row p {
    margin: 0 0 12px;
}

.row:nth-of-type(odd) h2 {
    color: #ff831f;
}

.text-col {
    font-size: 25px;
    line-height: 1.23;
    text-align: left;
    text-transform: uppercase;
}
.sources-box {
    font-size: 19px;
    padding: 76px 5px 27px;
}
.sources-box strong {
    display: block;
    padding: 0 0 23px;
    font-size: 21px;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: underline;
}

@media (min-width: 768px) {
    body {
        font-size: 21px;
    }

    h1 {
        font-size: 67px;
    }

    h2 {
        font-size: 47px;
        margin: 0 0 77px;
    }

    .caption {
        display: flex;
        align-items: center;
    }

    .caption .main-img {
        margin: 0 15px 0 0;
    }

    .caption .text {
        flex: 1 0;
        padding: 0 0 17px;
    }

    .caption .subtitle {
        font-size: 45px;
    }

    .row {
        display: flex;
        align-items: center;
        padding: 50px 0;
    }

    .row:nth-of-type(odd) {
        flex-direction: row-reverse;
    }

    .row .img-col,
    .row .text-col {
        width: 50%;
    }

    .text-col {
        font-size: 32px;
        padding: 0;
    }

    .py-1 {
        padding: 78px 0 80px;
    }

    .py-2 {
        padding: 0 0 92px;
    }

    .py-4 {
        padding: 85px 0 46px;
    }

    .py-6 {
        padding: 83px 0 87px;
    }

    .py-8 {
        padding: 70px 0 83px;
    }

    .py-10 {
        padding: 73px 0 67px;
    }

    .py-12 {
        padding: 6px 0 100px;
    }

    .pt-1 {
        padding-top: 76px;
    }

    .pt-2 {
        padding: 69px 0 7px;
    }

    .pt-3 {
        padding: 0 0 10px 0;
    }

    .pt-6 {
        padding: 34px 0 0;
    }

    .pt-7 {
        padding: 0 0 25px 0;
    }

    .pt-12 {
        padding: 57px 0 0;
    }

    .p-img-2 {
        padding: 9px 0 0;
    }

    .p-img-3 {
        padding: 8px 21px 0 0;
    }

    .p-img-4 {
        padding: 56px 0 0;
    }

    .p-img-6 {
        padding: 11px 7px 0 0;
    }

    .p-img-7 {
        padding: 0 88px 0 0;
    }

    .p-img-9 {
        padding: 10px 0 0;
    }

    .p-img-11 {
        padding: 4px 11px 0 0;
    }

    .row.has-bg {
        background-image: url("../img/bg-img2.png");
        background-repeat: no-repeat;
        background-position: 72% 53%;
    }
}


.mb-sm {
    margin-bottom: 80px;
}
.word-break {
    word-break: break-word;
}
